body {
    background-color: rgb(249, 236, 205);
}

.main-container {
    background-color: blueviolet;
    min-width: 100%;
    min-height: 98vh;
    display: grid;
    height: 98vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}