body {
    background-color: rgb(249, 236, 205);
}

.main-container {
    min-width: 100%;
    min-height: 98vh;
    display: grid;
    height: 98vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 5fr auto;
    grid-template-areas: 
        'menu'
        'display'
        'display'
        'display'
        'footer'
    ;
}



