.menu {
    background-color: rgb(89, 65, 160);
    grid-area: menu;
    text-align: right;
    padding-top: 4px;
}

.menu-link {
    font: bold 14px Arial;
    text-decoration: none;
    color: #ffffff;
    padding: 2px 6px 2px 6px;
    text-align: center;
}